<div class="page-header">
  <h2>Employees</h2>
</div>

<table class="table">
  <thead>
    <tr>
      <th width="5%">#</th>
      <th width="40%">Name</th>
      <th width="40%">Title</th>
      <th width="15%">&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% if @employees.empty? %>
      <tr>
        <td colspan="4">
          <em class="text-muted">There are no employees yet</em>
        </td>
      </tr>
    <% else %>
      <% @employees.each do |employee| %>
        <tr>
          <td>
            <%= employee.id %>
          </td>
          <td>
            <%= employee.name %>
            <%= render 'notes', employee: employee %>
          </td>
          <td>
            <%= employee.title %>
          </td>
          <td>
            <div class="actions text-nowrap pull-right">
              <%= link_to 'Edit', edit_employee_path(employee), class: 'btn btn-xs btn-primary' %>
              <%= link_to 'Delete', employee, class: 'btn btn-xs btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Employee', new_employee_path, class: 'btn btn-default' %>
