<!DOCTYPE html>
<html>
<head>
  <title>HRComply Demo</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'navbar' %>
<div class="container-fluid">
  <%= render 'flash' %>
  <%= yield %>
</div>
</body>
</html>
